.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #EEF9FE;
  stroke-width: 1.5px;
  opacity: 0.8;
}

.link {
  stroke: #ccc;
}

.nodes text {
  pointer-events: none;
  font: 10px sans-serif;
}