
html {
    overflow: auto;
}


#body {
    position: relative;
}

.footer a {
    position: absolute;
    bottom: 5%;
    right: 5%;
    padding: 1px 1px 1px 32px;
    text-decoration: none;
    font-size: 10px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.footer a p {
    font-size: 16px;
}

input.buttons{
    outline: none;
    border: none;
    color: #DCDCDC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 1% 1% 1% 1%;
    border-radius: 5%;
}
input.buttons:hover{
    color:white;
}


.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

#sT{
    outline: none;
    position: relative;
    left: 5%;
    right: 5%;
    border-radius: 5%;
    width: 100%;
    display:block;
}

.scrolldiv {
    height: 70%;
    overflow:auto;
    margin-bottom: 5%;
}


#viz{
    position: absolute;

}


/*scrollbar*/
::-webkit-scrollbar {
    width:10px;
    opacity: 0.2;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.2;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.2;
    background:  rgba(112,112,112,0.7);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(176,176,176,0.2);
}

/*scrollbar*/





#options{
    float: right;
}

#sidePaneButton{
    position: relative;
    margin-top: 5%;
    left: 40%;
    right: 0%;
}


#sidePaneClearButton{
    position: relative;
    margin-top: 5%;
    left: 40%;
    right: 0%;
}

#leftButtons{
    position: relative;
}


#leftBar {
    height: 100%; /* 100% Full-height */
    width: 20%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#queryOutputBlock{
    color: #818181;
}

#navbarexpandbutton img {
    width: 3%;
    height: 6%;
    position: fixed;
    bottom: 50%;
    left: 1%;
}
