<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Bangladesh Law Network</title>


    <!--<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->
   <!-- <link href="../static/css/signup.css" rel="stylesheet"> -->

    <script src="static/lib/jquery-3.2.1.js"></script>
    <script src="static/lib/d3.js"></script>
    <!--<script src="http://d3js.org/d3-selection-multi.v1.js"></script> -->

    <!-- <script src="//d3js.org/d3.v3.min.js"></script>-->


    <!-- <script src="static/lib/d3plus/d3.js"></script>
    <script src="static/lib/d3plus/d3plus.js"></script>
    <!-- <script src="https://d3js.org/d3.v4.js"></script> -->

    <!--  <script src="static/js/d3_ring_viz.js"></script> -->
    <script src="static/js/events.js"></script>
    <script src="static/js/effects.js"></script>
    <script src="static/js/sidepane.js"></script>
    <script src="static/js/d3_forcefield_viz.js"></script>
    <!-- -->



    <script src="static/js/jquery/mysql_scripts.js"></script>
    <script src="static/js/jquery/mongo_scripts.js"></script>
    <script src="static/js/jquery/id_search.js"></script>
    <script src="static/js/jquery/keyword_search.js"></script>
    <script src="static/js/jquery/account.js"></script> <!-- -->
    <script src="static/js/jquery/home.js"></script>

    <script src="static/js/cookiemonster.js"></script>
    <!-- -->
    <link rel="stylesheet" type="text/css" href="static/css/home.css">
    <link rel="stylesheet" type="text/css" href="static/css/external.css">
    <link rel="stylesheet" type="text/css" href="static/css/sidepanecss.css">
    <link rel="stylesheet" type="text/css" href="static/css/d3_forcefield_viz.css">

    <!-- -->




</head>

<body>
<!--
    <div class="container">
        <!--<div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Law Network</h3>
        </div>






    </div> -->


    <div id="viz">

    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <a href="#" onclick="clearVisualization()">Clear Visuation</a>


        <a href="/logout" >Reload Visuation</a>


        <footer class="footer">
            <a href="#">
                <p>&copy; KolpoKoushol 2017</p>
            </a>
        </footer>
    </div>


    <div class = "sidenav" id = "mySearchBar">
        <div>
            <a href="javascript:void(0)" class="closebtn" onclick="closeMySearchBar()">&times;</a>

             <a id = "spreadButton" href="javascript:void(0)" class="spreadbtn" onclick="spreadMySearchBar()">&raquo;</a>

             <a id = "shrinkButton" href="javascript:void(0)" class="shrinkbtn" onclick="shrinkMySearchBar()">&laquo;</a>

            <form id = "searchText_form">
                <table>
                    <tr>
                        <td><a id="searchTextLabel" href="#"></a></td>

                    </tr>
                    </tr>
                        <td>
                            <input  id="sT"
                                    type="text"
                                    name="searchText"
                                    onkeydown = "if (event.keyCode == 13)
                                        document.getElementById('sidePaneButton').click()"
                            >

                        </td>
                    </tr>

                    </tr>
                        <td>

                            <input type="button" id = "sidePaneButton" class="buttons success" name="searchButton" value="Search" >

                            <input type="button" id = "sidePaneClearButton" class="buttons warning" name="clearSearchButton" value="Clear" onclick="clearSearch()">


                        </td>
                    </tr>
                </table>
            </form>



        </div>

        <div id = "queryOutputBlock" class="scrolldiv">
        </div>



    </div>


    <div id = "leftBar" class="sidenav">
        <div>
            <a href="javascript:void(0)" class="closebtn" onclick="shrinkNavBar()">&times;</a>

            <a id="homeusernametitle" href="javascript:void(0)">"test"</a>

            <table>
                <tr style="position:relative;">
                    <td>
                        <input id="leftButtons"  style="width:100%;" type = button class = "buttons panelbtn success" value = "Menu" onclick="openNav()">
                    </td>
                </tr>
                <tr style="position:relative;">
                    <td>
                        <input id="leftBUttons2" style="width:100%;" type = button  class = "buttons panelbtn success" value = "Search by ID" onclick="openMySearchBar()">
                    </td>
                </tr>
                <tr style="position:relative;">
                    <td>
                        <input id="leftButtons3" style="width:100%;" type = button  class = "buttons panelbtn success" value = "Search by Phrase" onclick="openMyNetworkSearchBar()">
                    </td>
                </tr>
                <tr style="position:relative;">
                    <td>
                        <input id="btnSignOut"   style="width:100%;" type = button  class = "buttons panelbtn warning" value = "Sign Out"">
                    </td>
                </tr>
            </table>
        </div>

        <footer class="footer">
            <a href="#">
                <p>&copy; KolpoKoushol 2017</p>
            </a>
        </footer>
    </div>

    <div id = "navbarexpandbutton" >
        <div>
            <img src="static/res/r8arrow.png" onclick="expandNavBar()">

        </div>
    </div>
</body>

</html>
